/* CSS for the layout */
.title-border {
    text-align: center;
    padding: 5px 0;
    background-color: lightgray;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    height: 50px;
    border-radius: 20px;
}

.title-border h1 {
    margin: 0;
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 80vh; /* Adjusted height to accommodate the title border */
    margin-top: 20px;
}

.left-box {
    flex: 0 0 70vh;
    background-color: lightgray;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px; 
    border-radius: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.left-box h1{
    text-align: center;
    font-size: 40px;
}

.left-box h2{
    font-size: 20px;
    margin-left: 18px;
}
.left-box p{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.nextto{
    display: inline-block;
    width: 30%;
    margin-left: 10vh;
    font-size: 25px;
  }

.right-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin-right: 50px;
}

.top-right {
    background-color: lightgray;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom:  0px;
    font-size: 30px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bottom-right {
    background-color: lightgray;
    height: 60%;
    display: none; /* Initially hide the bottom-right box */
    border-radius: 20px;
    margin-bottom: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.arrow-down, .arrow-up {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow-down {
    transform: rotate(45deg);
    margin-left: 5px;
}

.arrow-up {
    transform: rotate(-135deg);
    margin-left: 5px;
}

.bottom-right p{
    margin: 30px;
    font-size: 30px;
}